@font-face {
    font-family: 'FjallaOne-Regular';
    src: url('../fonts/fjalla-one/FjallaOne-Regular.ttf');
}

@font-face {
    font-family: SourceSansPro-Regular;
    src: url('../fonts/source-sans-pro/SourceSansPro-Regular.ttf');
}
@font-face {
    font-family: SourceSansPro-Italic;
    src: url('../fonts/source-sans-pro/SourceSansPro-Italic.ttf');
}

@font-face {
    font-family: OpenSans-Bold;
    src: url('../fonts/open-sans/OpenSans-Bold.ttf');
}

@font-face {
    font-family: OpenSans-Regular;
    src: url('../fonts/open-sans/OpenSans-Regular.ttf');
}

@font-face {
    font-family: OpenSans-Light;
    src: url('../fonts/open-sans/OpenSans-Light.ttf');
}

@font-face {
    font-family: OpenSans-Semibold;
    src: url('../fonts/open-sans/OpenSans-Semibold.ttf');
}