/* By Uk */
@import 'mixin';
@import 'fonts';
@import 'colors';

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
    font-family: 'SourceSansPro-Regular';
    background-color: rgb(0, 0, 0);
}

body::-webkit-scrollbar {
    width: 5px;
    background-color: #16161E;
}

body::-webkit-scrollbar-track {
    background-color: #16161E;
}

body::-webkit-scrollbar-thumb {
    background-color: #FBD54A;
    border-radius: 6px;
}

header {
    width: 100%;
    position: fixed;
    z-index: 9999;
    padding: 0;
    margin: 0;
    transition: all 300ms linear;
    .navbar {
        font-weight: 100;
        padding: 2% 11%;
        height: auto;
        top: 1%;
        // background: linear-gradient(to right, transparent, hsla(0, 0%, 13%, 0.616) 90%, hsla(0, 0%, 13%, 0.616) 100% );
        z-index: 9999;
        box-shadow: 0px 2px 10px rgba(12, 12, 12, 0.145);
        transition: all 300ms linear;

        @include xsm {
            padding: 3% 2.5%;
            top: 0;
        }
        @include sm {
            padding: 3% 2.5%;
            top: 0;
        }
        @include md {
            padding: 3% 2.5%;
            top: 0;
        }
        &.blackto {
            background: rgb(43, 43, 43);
            box-shadow: 0px 2px 10px rgba(12, 12, 12, 0.678);
            padding: 1% 11%;
            top: 0;
            left: 0;
            @include xsm {
                padding: 3% 2.5%;
                top: 0;
            }
            @include sm {
                padding: 3% 2.5%;
                top: 0;
            }
            @include md {
                padding: 3% 2.5%;
                top: 0;
            }
            .navbar-brand .logo {
                width: 50px;
                position: relative;
                top: 0;
            }
        }
        .navbar-toggler {
            outline: none;
            color: $txt_white;
        }
        .navbar-brand {
            padding: 0;
            font-size: initial;
            .logo {
                width: 90px;
                height: auto;
                position: absolute;
                top: 9%;
                animation: ror 3s linear infinite;
                @include xsm{
                    width: 50px;
                }
                @include sm{
                    width: 70px;
                }
            }
        }
        .custom-navbar-nav {
            position: relative;
            .nav-item {
                position: relative;
                // &.active{
                //     .nav-link{
                //         color: #FFE56A;
                //         &::before {
                //             // display: block;
                //             transform: scale(1, 1);
                //         }
                //     }
                // }
                .nav-link {
                    padding: 0.5rem 1.5rem;
                    color: $txt_white;
                    font-size: 16px;
                    position: relative;
                    transition: all 400ms cubic-bezier(0.29, 0.9, 0.26, 1);
                    &:hover {
                        color: hsla(50, 100%, 71%, 0.929);
                    }
                    @include xsm {
                        padding: .5rem .5rem;
                    }
                    // &::before {
                    //     content: "";
                    //     position: absolute;
                    //     left: 50%;
                    //     top: 85%;
                    //     transform: translate(-50%, -50%) scale(0, 0);
                    //     width: 6px;
                    //     height: 6px;
                    //     border-radius: 50%;
                    //     background-color: #FFE56A;
                    //     // display: none;
                    // }                    
                }
            }
        }
    }
}

@keyframes ror {
    0%{
        transform: rotateZ(0deg);
    }
    100%{
        transform: rotateZ(360deg);
    }
}

.navbar-collapse{
    @include xsm{
        position: absolute;
        top: 50px;
        right: 19px;
        background: #2c2c3d;
        width: 50%;
        border-radius: 4;
    }
}

.home{
    min-height: 100vh;
    width: 100%;
    background-color: rgb(22, 22, 22);
    display: flex;
    align-items: center;
    padding: 10% 0.5% 5% 0.5%;
    position: relative;
    perspective: 1000px;
    perspective-origin: center;
    transform-style: preserve-3d;
    @include xsm{
        padding-top: 20%;
        padding-bottom: 20%;
    }
    .home-content{
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        @include xsm{
            align-items: center;
            margin-bottom: 3%;
        }
        @include sm{
            align-items: center;
            margin-bottom: 3%;
        }
        .home-title{
            font-family: 'FjallaOne-Regular';
            font-weight: 400;
            color: #ffffff;
            font-size: 64px;
            text-align: center;
            margin-bottom: 0px;
        }
        hr{
            border-top: 2px solid rgb(175, 175, 175);
            width: 100%;
            margin: 18px 0px;
        }
        .home-subtitle{
            font-size: 27px;
            // margin: 30px 0px 20px 0px;
            font-family: SourceSansPro-Italic;
            font-weight: 700;
            color: #f7f7f7;
            margin-bottom: 2%;
            text-align: center;
            // @include xsm{
            // }
            // @include sm{
            //     text-align: center;
            // }
        }
        .home-btn{
            display: inline-flex;
            align-items: center;
            justify-content: center;
            min-width: 180px;
            height: 55px;
            background-color: transparent;
            border-radius: 50px;
            border: 2px solid rgb(127, 128, 128);
            font-size: 22px;
            color: rgb(127, 128, 128);
            // font-family: SourceSansPro-Regular;
            font-weight: 700;
            margin: 8px;
            text-decoration: none;
            transition: all 400ms cubic-bezier(0.29, 0.9, 0.26, 1);
            position: relative;
            z-index: 1;
            overflow: hidden;
            &:hover{
                // transform: scale(1.01);
                color: #ffffff;
                opacity: 1;
                border-color: transparent;
                background-color: rgb(43, 43, 43);
                // &::before{
                //     width: 100%;
                // }
            }
            // &::before {
            //     content: "";
            //     position: absolute;
            //     left: 0;
            //     top: 0;
            //     width: 0%;
            //     height: 100%;
            //     background-color: #FFE56A;
            //     z-index: -1;
            //     transition: all 400ms 200ms cubic-bezier(0.29, 0.9, 0.26, 1);
            // }   
        }
        .home-img{
            width: 80%;
            height: auto;
            object-fit: cover;
        }
        .home-bx{
            background-color: rgb(43, 43, 43);
            padding: 3%;
            margin: 3% 0%;
            width: 50%;
            // border-radius: 20px;
            border-radius: 60px;
            background: #161616;
            box-shadow:  27px 27px 53px #0b0b0b,
                        -27px -27px 53px #212121;
            transition: all 400ms cubic-bezier(0.29, 0.9, 0.26, 1);
            &:hover{
                box-shadow:  -27px -27px 53px #0b0b0b,
                            27px 27px 53px #212121;
            }
            .date{
                font-size: 12px;
                font-family: SourceSansPro-Italic;
                color: #919191;
                text-align: center;
                margin-bottom: 0;
            }
        }
    }
}

.txt-yellow{
    color: #FBD54A !important;
}

.main-title{    
    font-family: 'FjallaOne-Regular';
    color: #ffffff;
    font-size: 28px;
    margin-bottom: 10px;
}

.title{
    color: #e2e2e2;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 5%;
}

.content{
    color: #919191;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 7%;
}
hr{
    border-top: 1px solid rgb(175, 175, 175);
    margin-bottom: 8%;
}


.about{
    display: flex;
    padding-bottom: 3%;
    .about-bx{
        // flex: 1;
        flex: 0 1 (100%)/2;
        // background-color: red;
        &.about-bx1{
            padding: 4% 4% 4% 12%;
        }
        .about-img{
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }
}

.giveaways{
    width: 100%;
    height: auto;
    padding: 6% 0%;
    .giveaways-head{
        font-size: 48px;
        text-align: center;
    }
    .giveaways-content{
        font-size: 24px;
        text-align: center;
        margin-bottom: 6px;
        &.giveaways-content1{
            width: 60%;
            margin: 0% auto;
        }
    }
    .dot{
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: rgb(175, 175, 175);
        margin: 1.5% auto;
    }
}

// footer
footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 4% 0% 4% 0%;
    // background: linear-gradient(to top, #2D2F3C 0%, #000000 100%);
    // background-color: #000000;
    z-index: 9;
    @include xsm{
        padding-top: 8%;
    }
    @include sm{
        padding-top: 8%;
    }
    .footer-heading{
        color: #FBD54A;
        padding: 12px 0px;
        font-weight: 500;
        font-size: 18px;
    }
    .footer-logo{
        text-decoration: none;
        img{
            width: 50%;
            height: auto;
        }
    }
    hr{
        border-top-color: #929292;
    }
    .footer-list
    {
        position: relative;
        width: 100%;
        list-style: none;
        margin: 3% 0%;
        padding-left: 0px;
        .footer-li{
            padding: 0px 0px;
            margin: 0;
            .footer-list-link{
                color: rgb(223, 223, 223);
                font-size: 14px;
                transition: all 300ms ease;
                &:hover{
                    color: #FBD54A;
                    text-decoration: none;
                }
            }
        }
    }
    .copyright{
        color: #e6e6e6;
        font-size: 14px;
    }
}

.social-media{
    // width: 140px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    z-index: 9999;
    bottom: 3%;
    right: 3%;
    li{
        margin-right: 15px;
        margin-bottom: 3px;
        &:nth-last-child(1){
            margin-right: 0;
        }
    }
    
    .social-links{
        color: rgba(59, 59, 59, 0.68);;
        width: 54px;
        height: 54px;
        background-color: hsl(240, 3%, 14%);
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 4px 6px 20px rgba(59, 59, 59, 0.12),
                    inset -10px -10px 20px #fbd54a48;
        // color: #e6e6e6;
        font-size: 12px;
        text-decoration: none;
        transition: all 400ms cubic-bezier(0.29, 0.9, 0.26, 1.21);
        &:hover{
            background-color: rgb(43, 43, 43);
            transform: scale(1.04);
            border-radius: 6px;
        }
        img{
            width: 25px;
        }
    }
}
.footer-log-img{
    animation: ror 6s linear infinite;
}
